<form [formGroup]="branchForm" (ngSubmit)="onSubmit()">
    <div class="branch-form">
        <div class="form-field status-field flex-item">
            <nb-select formControlName="status">
                <nb-option [value]="branchStatusEnum.TASK">{{ branchStatusEnum.TASK }}</nb-option>
                <nb-option [value]="branchStatusEnum.BUGFIX">{{ branchStatusEnum.BUGFIX }}</nb-option>
                <nb-option [value]="branchStatusEnum.HOTFIX">{{ branchStatusEnum.HOTFIX }}</nb-option>
                <nb-option [value]="branchStatusEnum.IMPROVEMENT">{{ branchStatusEnum.IMPROVEMENT }}</nb-option>
            </nb-select>

            <input type="text" nbInput placeholder="Id" formControlName="id" class="field-id">

            <input fullWidth type="text" nbInput placeholder="text" formControlName="text" class="field-text">
        </div>

        <div class="form-field">
            <input fullWidth 
                    type="text" 
                    nbInput 
                    [status]="isInvalidUrlError ? 'danger' : 'basic'"
                    placeholder="link" 
                    formControlName="link">
            <div *ngIf="isInvalidUrlError">
                <p class="text-danger">{{ 'VALIDATION.DETAIL_WINDOW.URL' | translate }}</p>
            </div>
        </div>
            
        <div class="form-field">
            <textarea nbInput 
                        fullWidth 
                        placeholder="Note" 
                        rows="4" 
                        formControlName="description" 
                        (focusout)="linkFieldOnBlur()"></textarea>
        </div>

        <div class="form-field">
            <p>{{ 'GENERATE_BRANCH.PREVIEW' | translate }}: <strong>{{ preview }}</strong></p>
        </div>
    </div>           

    <div class="form-button">
        <button nbButton 
                fullWidth
                status="success" 
                type="submit" 
                [disabled]="!branchForm.valid">{{ 'GENERATE_BRANCH.GENERATE_BUTTON' | translate }}</button>
    </div>
</form>