<ng-container [ngSwitch]="eventStatus" *ngIf="showText">
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.TO_DO" [text]="eventStatusEnum.TO_DO" class="position-relative" status="success" ></nb-badge>
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.IN_PROGRESS" [text]="eventStatusEnum.IN_PROGRESS" class="position-relative" status="warning" ></nb-badge>       
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.COMPLETED" [text]="eventStatusEnum.COMPLETED" class="position-relative" status="info" ></nb-badge>    
</ng-container>

<ng-container [ngSwitch]="eventStatus" *ngIf="!showText">
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.TO_DO" status="success" position="bottom right"></nb-badge>
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.IN_PROGRESS" status="warning" position="bottom right"></nb-badge>       
    <nb-badge [nbTooltip]="tooltip" nbTooltipPlacement="bottom" *ngSwitchCase="eventStatusEnum.COMPLETED" status="info" position="bottom right"></nb-badge>    
</ng-container>
