<nb-card>
    <nb-card-header>
      <div class="menu-list-of-branch">
        <h5> List of event </h5>
        <button nbButton status="primary" (click)="editedEventWindow()"><nb-icon icon="plus"></nb-icon> {{ 'EVENTS.ADD_BUTTON' | translate }} </button>
      </div>
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let event of events" class="flex-item">
        <div class="infos">
          <app-event-badges [eventStatus]="event.status"></app-event-badges>
          <p class="mr-10">{{ event.hour | date:'HH:mm' }}</p>
        </div>

        <div class="text">
          <span class="ml-10" [innerHtml]="event.text"></span>
        </div>
      
        <div class="actions">
          <button class="mr-10" nbButton status="info" (click)="editedEventWindow(event)"><nb-icon icon="edit"></nb-icon></button>
          <button nbButton status="danger" (click)="deleteEvent(event.uuid)"><nb-icon icon="trash"></nb-icon></button>
        </div>
        
      </nb-list-item>
    </nb-list>
  </nb-card>
