table {
    width: 100%;
    border-collapse: collapse;
}

th {
    padding: 1rem;
    border: 1px solid #222b45;
    text-align: center;

}

td {
    position: relative;
    padding: 1rem;
    border: 1px solid #222b45;
    text-align: left;
    background-color: #151930;

    .badges {
        position: relative;
        float: right;
        margin: 3px;
        height: 10px;
        width: 14px;
    }
}

thead {
    background-color: #222b45;
}

.selected {
    background-color: #222b45;
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:50px;

    h4 {
       margin: 0;
    }
}