<div>
    <div class="flex-item">
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.NAME' | translate }}: <strong>{{ branch.name }}</strong></p> 
        <button (click)="copyText(branch.name)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item">
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.DESCRIPTION' | translate }}: <strong>{{ branch.description }}</strong></p> 
        <button (click)="copyText(branch.description)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item">
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.LINK' | translate }}: <a *ngIf="branch.link" style="cursor: pointer;" (click)="openLink(branch.link)">{{ branch.link }}</a></p> 
        <button (click)="copyText(branch.link)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item">
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.ID' | translate }}: <strong>{{ branch.id }}</strong></p> 
        <button (click)="copyText(branch.id)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item"> 
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.STATUS' | translate }}: <strong>{{ branch.status }}</strong></p> 
        <button (click)="copyText(branch.status)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item">
        <p>{{ 'GENERATE_BRANCH.DETAIL_WINDOW.TEXT' | translate }}: <strong>{{ branch.text }}</strong></p> 
        <button (click)="copyText(branch.text)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>

    <div class="flex-item">
        <p>Texte de commit: <strong>{{ CommitText }}</strong></p> 
        <button (click)="copyText(CommitText)" nbButton ghost><nb-icon icon="copy"></nb-icon> </button>
    </div>
</div>