<nb-card>
    <nb-card-header>
      <div class="menu-list-of-branch">
        <h5> {{ 'GENERATE_BRANCH.LIST_OF_BRANCHES' | translate }} </h5>
      </div>
    </nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let branch of branches" 
                    class="flex-item">

        <div class="text">
          <span class="ml-10">{{ branch.name }}</span>
        </div>
      
        <div class="actions">
            <button class="mr-10"
                    nbButton 
                    status="success" 
                    (click)="detailBranch(branch)"><nb-icon icon="eye"></nb-icon></button>

            <button class="mr-10"
                    nbButton status="info" 
                    (click)="editedBranchWindow(branch)"><nb-icon icon="edit"></nb-icon></button>

            <button nbButton 
                    status="danger" 
                    (click)="deleteBranch(branch.uuid)"><nb-icon icon="trash"></nb-icon></button>
        </div>
        
      </nb-list-item>
    </nb-list>
  </nb-card>
