html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif, Arial, Helvetica;
}

// custom electron titlebar
.cet-titlebar {
  .cet-title {
    color: white;
    font-size: 12px;
    height: 22px;
    line-height: 1.9;
  } 
}

